/*
* Project Colours
*/
$turquoise: #1ABC9C;
$dark-turquoise: #16A085;

$light-green: #2ECC71;
$green: #27AE60;

$light-blue: #3498DB;
$blue: #2980B9;

$light-pink: #9B59B6;
$pink: #8E44AD;

$asphalt: #34495E;
$dark-asphalt: #2C3E50;

$orange: #E67E22;
$dark-orange: #D35400;

$light-red: #E74C3C;
$red: #C0392B;

$very-light-gray: #ECF0F1;
$light-gray: #BDC3C7;
$gray: #95A5A6;
$dark-gray: #7F8C8D;

$primary-font-color: #555555;
